/* Tidy up layer switcher control */

.layer-switcher li.group {
    padding: 0
}

.layer-switcher li.group>label {
    font-weight: normal;
}

.layer-switcher li.layer input {
    vertical-align: middle;
    position: relative;
    bottom: .1em
}

.flatmap-map {
	display: flex;
	flex-direction: column;
}

.flatmap-toolbar {
	height: 25px;
	border-bottom: 1px solid #888;
}

.flatmap-display {
	height: calc(100% - 25px);
}
